<h1>Seja bem vindo!!</h1>
<h3>Olá eu me chamo <%= @meu_nome %></h3>

<h3><strong>A data de hoje é </strong> <%= date_br(Date.today)%></h3>

<%= render "menu"%>

<p>Estou aprendendo <strong><%= @curso%></strong></p>